<!-- <table>
  <tr id="Y3">
    <td class="X0">1</td>
    <td class="X1">2</td>
    <td class="X2">3</td>
    <td class="X3">4</td>
  </tr>
  <tr id="Y2">
    <td class="X0">5</td>
    <td class="X1">6</td>
    <td class="X2">7</td>
    <td class="X3">8</td>
  </tr>
  <tr id="Y1">
    <td class="X0">9</td>
    <td class="X1">10</td>
    <td class="X2">11</td>
    <td class="X3">12</td>
  </tr>
  <tr id="Y0">
    <td class="X0">13</td>
    <td class="X1">14</td>
    <td class="X2">15</td>
    <td class="X3">16</td>
  </tr>
</table> -->
<table>
  <tr id="Y3">
    <td class="X0">*</td>
    <td class="X1">*</td>
    <td class="X2">*</td>
    <td class="X3">*</td>
  </tr>
  <tr id="Y2">
    <td class="X0">*</td>
    <td class="X1">*</td>
    <td class="X2">*</td>
    <td class="X3">*</td>
  </tr>
  <tr id="Y1">
    <td class="X0">*</td>
    <td class="X1">*</td>
    <td class="X2">*</td>
    <td class="X3">*</td>
  </tr>
  <tr id="Y0">
    <td class="X0">*</td>
    <td class="X1">*</td>
    <td class="X2">*</td>
    <td class="X3">*</td>
  </tr>
</table>

<!-- <table
  <tr id="row0">
    <td class="col0">x0y3</td>
    <td class="col1">x1y3</td>
    <td class="col2">x2y3</td>
    <td class="col3">x3y3</td>
  </tr>
  <tr id="row1">
    <td class="col0">x0y2</td>
    <td class="col1">x1y2</td>
    <td class="col2">x2y2</td>
    <td class="col3">x3y2</td>
  </tr>
  <tr id="row2">
    <td class="col0">x0y1</td>
    <td class="col1">x1y1</td>
    <td class="col2">x2y1</td>
    <td class="col3">x3y1</td>
  </tr>
  <tr id="row3">
    <td class="col0">x0y0</td>
    <td class="col1">x1y0</td>
    <td class="col2">x2y0</td>
    <td class="col3">x3y0</td>
  </tr>
</table> -->
<!-- <table>
  <tr id="row0">
    <td class="col0">1</td>
    <td class="col1">1</td>
    <td class="col2">1</td>
    <td class="col3">1</td>
  </tr>
  <tr id="row1">
    <td class="col0">2</td>
    <td class="col1">2</td>
    <td class="col2">2</td>
    <td class="col3">2</td>
  </tr>
  <tr id="row2">
    <td class="col0">3</td>
    <td class="col1">3</td>
    <td class="col2">3</td>
    <td class="col3">3</td>
  </tr>
  <tr id="row3">
    <td class="col0">4</td>
    <td class="col1">4</td>
    <td class="col2">4</td>
    <td class="col3">4</td>
  </tr>
</table> -->