<table>
  <tr id="row0">
    <td class="col0">*</td>
    <td class="col1">*</td>
    <td class="col2">*</td>
    <td class="col3">*</td>
  </tr>
  <tr id="row1">
    <td class="col0">1</td>
    <td class="col1">1</td>
    <td class="col2">*</td>
    <td class="col3">*</td>
  </tr>
  <tr id="row2">
    <td class="col0">*</td>
    <td class="col1">*</td>
    <td class="col2">*</td>
    <td class="col3">*</td>
  </tr>
  <tr id="row3">
    <td class="col0">*</td>
    <td class="col1">*</td>
    <td class="col2">*</td>
    <td class="col3">*</td>
  </tr>
</table>

<!-- <table>
  <tr id="row0">
    <td class="col0">1</td>
    <td class="col1">1</td>
    <td class="col2">1</td>
    <td class="col3">1</td>
  </tr>
  <tr id="row1">
    <td class="col0">2</td>
    <td class="col1">2</td>
    <td class="col2">2</td>
    <td class="col3">2</td>
  </tr>
  <tr id="row2">
    <td class="col0">3</td>
    <td class="col1">3</td>
    <td class="col2">3</td>
    <td class="col3">3</td>
  </tr>
  <tr id="row3">
    <td class="col0">4</td>
    <td class="col1">4</td>
    <td class="col2">4</td>
    <td class="col3">4</td>
  </tr>
</table> -->